<!DOCTYPE html>
<html>
<head>
  <title>RestApi</title>
  <%= stylesheet_link_tag 'rest_api' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="main">
  <%= yield %>
</div>
</body>
</html>
